@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    @apply bg-stone-50 dark:bg-slate-950
}

h1, h2, h3, h4, h5, h6 {
    @apply text-black dark:text-white
}

.framework {
    @apply text-emerald-500 dark:text-emerald-400
}